/* fonts and colors */
@font-face {
    font-family: 'Roboto';
    src: url("./font/Roboto/Roboto-Regular.ttf"),
         url("./font/Roboto/Roboto-Bold.ttf"),
         url("./font/Roboto/Roboto-Italic.ttf")
}

body {
    font-family: "Roboto", san-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    font-weight: bold;
    font-size: 16px;
    color: #F9FAF8;
    background-color: #3882F6;
}

/* header font and background color */

header, footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

header p {
    color: #F9FAF8;
    font-size: 18px;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


/* content font  + background color*/
.some-random-info h2{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote h3 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

/* 
Positioning and Alignment
Margin padding and border as well
*/

header, body {
    margin: 0;
}

/* header */

header {
    padding: 8px 15%;
}

/* navigation bar */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* main header */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 100px;
}

.main-header-text {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    
}

.main-header-text h1 {
    margin: 0;
    padding: 0;
}

.main-header-text p {
    margin: 10px 0;
}

header button {
    flex-grow: 0;
    padding: 8px 24px;
    border-radius: 8px;
    border: 0;
}

.image-placeholder {
    background-color: grey;
    height: 250px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
    Layout of the body of the website
*/
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* information section layout */
.some-random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    
}

.some-random-info h2 {
    margin: 32px;
}

.illustrations {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;

}

.illus-box {
    width: 150px;
    text-align: center;
}

.box-image {
    width: 150px;
    height: 150px;
    border: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 16px;
}

